/* Modal */
.history-modal {
    margin-top: 80px;
    margin-left: 80px;
    background: white;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    padding: 20px;
    height: 82vh;
    width: 850px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}

/* Games History */
.games-history {
    font-family: 'Arial', sans-serif;
}

.games-history h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.games-history ul {
    max-height: 75vh;
    overflow-y: auto;
    padding-right: 10px;
    margin-right: -10px;
}

.games-history ul::-webkit-scrollbar {
    width: 8px;
}

.games-history ul::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

/* Game Title (List Items) */
.historical-game {
    list-style: none;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.historical-game:hover {
    background-color: #f0f0f0;
}

.game-title {
    font-size: 18px;
    color: #444;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.game-title:hover {
    background-color: #e6e6e6;
    color: #000;
}

/* Selected Game */
.historical-game.selected {
    transition: margin-left 0.3s ease, margin-right 0.3s ease;
    background-color: #e0f7fa;
    border-left: 4px solid #26a69a;
    margin-right: 30px;
    margin-left: 30px;
}

.historical-game.selected > .game-title {
    font-weight: bold;
    color: #00796b;
    background-color: rgba(255, 255, 255, 0);
}

/* Game Details */
.game-details {
    padding: 15px;
    border-top: 1px solid #e0e0e0;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.game-description {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.game-view {
    transform: scale(0.6);
    margin: -200px -185px -200px -180px;
}

.load-game-button {
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.load-game-button:hover {
    background-color: #004d40;
}
