.player-name-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.player-name-input h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.player-name-input form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

.name-input:focus {
    outline: none;
    border-color: #007bff;
}

.submit-button {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}
