.color-selector {
    display: flex;
    background: linear-gradient(135deg, rgba(213, 169, 133, 0.8), #a7a1a8);
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.select-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
}

.color-options {
    display: flex;
    gap: 10px;
}

.color-option {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 40px;
    border-style: ridge;
    border-color: black;
    border-radius: 10px;
}

.color-option.white {
    background-color: #ffffff;
    color: #000000;
}

.color-option.black {
    background-color: #000000;
    color: #ffffff;
}

.color-option:hover {
    opacity: 0.8;
    zoom: max(1.2);
}