/* Login.css */
.login-container {
    display: flex;
    flex-direction: row;
    background: linear-gradient(135deg, rgba(213, 169, 133, 0.8), #a7a1a8);
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    color: #fff;
    font-family: 'Arial', sans-serif;
    padding-top: 20%;
}

.guest-container {
    margin: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.oauth2-container {
    margin: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.provider-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.guest-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

button {
    width: 250px;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-google {
    background-color: #db4437;
    color: #fff;
}

.button-google:hover {
    background-color: #c23321;
    transform: scale(1.05);
}

.button-gh {
    background-color: #333;
    color: #fff;
}

.button-gh:hover {
    background-color: #24292e;
    transform: scale(1.05);
}

.button-guest {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.9);
}

.button-guest:hover {
    background-color: #d0d0d0;
    transform: scale(1.05);
}
