/* DropdownMenu.css */
.dropdown {
    position: relative;
    display: inline-flex;
    align-items: self-start;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 54px;
    padding-top: 5px;
    padding-right: 24px;
    padding-left: 24px;
    min-width: 160px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1;
}

.dropdown-content a {
    align-self: center;
    border-radius: 15px;
    color: black;
    background-color: rgba(181, 136, 99, 0.5);
    margin: 2px;
    padding: 12px 16px;
    font-size: 1.2rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(255, 213, 133, 0.5);
}

.dropdown:hover .dropdown-content {
    flex-direction: column;
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(240, 217, 181, 0.5);
}
