/* DropdownMenu.css */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-size: 1.2rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(189, 190, 190, 0.14);
}
