.chessboard {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
}

.loadingLabel {
    color: #bb0101;
    margin: 10px;
    align-self: center;
    font-size: 40px;
}

.gameOver {
    color: #53b618;
    margin: 10px;
    align-self: center;
    font-size: 40px;
}

.square {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}

.empty {
    border-right: 3px ridge grey;
    width: 77px;
    border-bottom: 3px ridge grey;
    height: 77px;

}

.row-header {
    background-color: #b58863;
    border-bottom: 3px ridge grey;
    height: 77px;
    border-right: 3px ridge rgba(0, 0, 0, 0.35);
    width: 77px;
}

.column-header {
    background-color: #b58863;
    border-right: 3px ridge grey;
    width: 77px;
    border-bottom: 3px ridge rgba(0, 0, 0, 0.35);
    height: 77px;
}

.white_blink {
    background-color: rgba(240, 217, 181, 0.5);
}

.black_blink {
    background-color: rgba(213, 169, 133, 0.8);
}

.white_active {
    background-color: rgba(240, 217, 181, 0.5);
}

.black_active {
    background-color: rgba(213, 169, 133, 0.8);
}

.piece_black {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.piece_black_blink {
    background-color: rgba(213, 169, 133, 0.8);
    /*border-radius: 50%;*/
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.piece_white {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.piece_white_blink {
    background-color: rgba(255, 213, 133, 0.5);
    /*border-radius: 50%;*/
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.piece_image {
    width: 80px;
    height: 80px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    transition: all 0.5s ease-in-out;
}

.animateMove {
    transition: all 0.5s ease-in-out;
}