.chessboard {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}

.square {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}

.piece_black {
    width: 80%;
    height: 80%;
    color: white;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece_white {
    width: 80%;
    height: 80%;
    color: black;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
